<ion-view title="Đăng ký" hide-back-button="true" cache-view="false" id="page6" drag-content="false" >
  <ion-content padding="true" class="has-header">
    <form id="NgK-form2" class="list">
      <label class="item item-input" id="NgK-input18" name="fullName">
        <input type="text" placeholder="Nhập họ tên">
      </label>
      <label class="item item-input" id="NgK-input20" name="fullName">
        <input type="text" placeholder="Nhập tên đăng nhập">
      </label>
      <label class="item item-input" id="NgK-input19" name="password">
        <input type="text" placeholder="Nhập mật khẩu">
      </label>
      <a ui-sref="NgKThNhCNg" id="NgK-button14" class="button button-calm  button-block">Đăng ký</a>
    </form>
  </ion-content>
</ion-view>