<ion-view id="tabs">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Thanh Toán" icon="ion-ios-camera" href="#/tabs/thanh-toan" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Thẻ tích luỹ" icon="ion-ios-personadd" href="#/tabs/them-the" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Thống kê" icon="ion-ios-list" href="#/tabs/thong-ke" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>