<ion-view title="Thống kê" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="thNgK-list4">
      <ion-item class="item-divider list-bills" id="thNgK-list-item-divider1"> Sản phẩm 1</ion-item>
      <ion-item class="item-divider" id="thNgK-list-item-divider3"> Item</ion-item>
      <ion-item class="item-divider" id="thNgK-list-item-divider4"> Item</ion-item>
      <ion-item class="item-divider" id="thNgK-list-item-divider5"> Item</ion-item>
      <ion-item class="item-divider" id="thNgK-list-item-divider6"> Item</ion-item>
      <ion-item class="item-divider" id="thNgK-list-item-divider7"> Item</ion-item>
      <ion-item class="item-divider" id="thNgK-list-item-divider8"> Item</ion-item>
      <ion-item class="item-divider" id="thNgK-list-item-divider2"> Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>