<ion-view title="Thẻ tích luỹ" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="thTChLu-form10" class="list">
      <label class="item item-input item-stacked-label" id="thTChLu-input14" name="customerName">
        <input type="text" placeholder="Nhập họ tên">
      </label>
      <label class="item item-input item-stacked-label" id="thTChLu-input16" name="customerPhone">
        <input type="text" placeholder="Nhập số điện thoại">
      </label>
    </form>
    <button id="thTChLu-button4" class="button button-positive  button-block">Tạo thẻ</button>
  </ion-content>
</ion-view>