<ion-view title="Trang chủ" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="trangCh-heading2" style="color:#000000;">Dịch vụ tích điểm</h1>
    <div id="trangCh-markdown4" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Ionic hybird app - Laravel Resful API</p>
    </div>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="trangCh-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="trangCh-slide210" style="background:url(&quot;img/PjntU5uYSn2vnzllLwNh_autumn-2012-wallpapers-20-770x481.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="trangCh-slide211" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="trangCh-slide212" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <a ui-sref="tabsController.thanhToN" id="trangCh-button15" class="button button-positive  button-block">Tới trang thanh toán</a>
  </ion-content>
</ion-view>